.map-legend {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
    padding: 8px;
    border-radius: 2px;
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.298039) 0 1px 4px -1px;
    .control {
        label {
            &:hover {
                cursor: pointer;
            }
        }
    }
}
