/*--------------------------------------------------------------
  Map
--------------------------------------------------------------*/

.map {
    position: relative;
    height: 400px;
    background-color: #e5e3df;
    &.no-map {
        font-size: 24px;
        color: #aaa;
        div {
            @extend %vertical-align;
        }
    }
}

.map-legend {
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    margin-left: 10px;
    padding: 8px;
    color: #777;
    background-color: #fff;
    .control-indicator {
        top: 3px;
    }
    &__headline {
        font-size: 14px;
        font-weight: 600;
        line-height: 1.45;
        margin-bottom: 0.5em;
        color: #3d3f40;
    }
}

.map-canvas {
    &.no-map {
        font-size: 24px;
        color: #aaa;
        div {
            @extend %vertical-align;
        }
    }
}
