.nothing {
    padding-top: 30vh;
    text-align: center;
    h1 {
        font-size: 24px;
        font-weight: normal;
        color: #aaa;
    }
    .shape {
        width: 96px;
        height: 96px;
        margin-bottom: 2em;
        fill: #80b240;
    }
}
